@import "bootstrap-sprockets";
@import "bootstrap";
body{
  background-color: #f6f6f6;
    display: block;
    margin: 8px;
    padding-top: 60px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  padding-left: 60px;
}