
<footer class="footer">

    <div id="left-footer"><%= link_to "My photos page ", root_path %>The photos page design by XXX_team </a>

    <div class = "nav navbar-right" >
     <ul class="nav navbar-nav navbar-left" align="left">
   <li class="btn btn-social-icon btn-twitter">
    <a href="http://twitter.com", class="fa fa-twitter"></a>
   </li>
   <li class="btn btn-social-icon btn-facebook">
    <a href="http://facebook.com", class="fa fa-facebook"></a>     
    </li>
    <li class="btn btn-social-icon btn-google-plus"> 
   <a href="http://google.com", class="fa fa-google-plus"></a> 
</li>
</div>
</footer>